// Import master
@import "_master.scss";

// Variables
$rule-line-color: $color-grey;
$rule-line-thickness: 4px;

// Begin styles

.content-grid {
	display: grid;
	grid-template-columns: 7.5fr 4fr;
	grid-column-gap: 2rem;
	grid-row-gap: 1rem;
	padding: 1rem;
	padding-bottom: 2rem;
}

.no-sidebar {
	grid-template-columns: 1fr;
}

.content-grid #main {
	display: flex;
	flex-direction: column;
	background-color: $color-white;
	margin-bottom: 3rem;
}

.content-grid #main {
	padding-top: 1rem;
}

.content-grid #main section {
}

.content-grid-title h1 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.content-grid #sidebar {
	display: flex;
	flex-direction: column;
}

.content-grid #sidebar section {
	display: block;
	width: 100%;
	padding: 1.5rem;
	background-color: $color-lightgrey;
	margin-top: 1rem;
}

.content-grid #sidebar section:not(:last-child) {
	margin-bottom: 0.5rem;
}

.content-grid #sidebar h1 {
	padding-top: 0;
	font-size: 1.8rem;
}

.content-grid #sidebar h2 {
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	font-size: 1.5rem;
}

.content-grid #sidebar p {
	padding: 0.8rem 0;
}

.content-grid #sidebar .sidebar-button-right {
	margin-left: auto;
}

.sidebar-large-image {
	width: 100%;
	margin: 1rem 0 0.5rem 0;
}

.content-grid #post-associated {
}

.content-grid #sidebar form {
	width: 100%;
}

.sidebar-actions {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 0.2rem;
	flex-wrap: wrap;
}

.sidebar-actions a,
.sidebar-actions button,
.sidebar-actions input[type="submit"],
.sidebar-actions input[type="button"] {
	flex-grow: 0;
	width: 48%;
}

.content-grid .sidebar-input {
	display: flex;
	flex-direction: column;
	padding-top: 0.2rem;
	flex-wrap: wrap;
}

.content-grid .sidebar-input select {
	margin: 0.5rem 0 0.65rem 0;
	padding: 0.4rem 0.5rem;
	font-size: 1rem;
}

.content-grid #recent-posts {
}

.content-grid #sidebar ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.content-grid #sidebar ul li {
	padding: 10px 0;
	display: flex;
	flex-direction: row;
}

.recent-posts-thumbnail {
	display: inline-block;
	margin-right: 0.75rem;
	min-width: 5rem;
	max-width: 5rem;
	min-height: 4rem;
	max-height: 4rem;
	flex-shrink: 0;
	background-image: url('http://via.placeholder.com/80x65');
	background-size: cover;
	background-color: $color-lightgrey;
	background-position: 50% 50%;
}

.recent-posts-thumbnail img {
	width: 100%;
}

.content-grid #sidebar ul li a {
	color: inherit;
	text-decoration: none;
	font-family: $heading-fonts;
	text-transform: uppercase;
}

.content-grid #sidebar ul li a:hover,
.content-grid #sidebar ul li a:active {
	color: $color-darkgrey;
}

.content-grid .page-path {
	padding-bottom: 0;
}

.content-grid .page-path span {
	color: $color-darkgrey;
}

.content-grid .page-path span a {
	color: $color-darkgrey;
	border-bottom: 1px solid transparent;
	text-decoration: none;
}

.content-grid .page-path span a:hover,
.content-grid .page-path span a:active {
	color: $color-lightblack;
	border-bottom: 1px dotted $color-lightblack;
}

.content-grid .page-path i {
	padding-top: 0;
	padding-right: 0.2rem;
	padding-bottom: 0;
	padding-left: 0.3rem;
}

.content-grid .page-title {
	margin: 0;
	padding: 0.3rem 0 0 0;
}

.content-grid .article-title {
	padding: 0.3rem 0 0.3rem 0 !important;
}

.content-grid #article-info {
	display: flex;
	flex-direction: row;
	padding-top: 1rem;
	flex-wrap: wrap;
}

.content-grid #article-date {
	flex-shrink: 0;
	padding: 0.4rem 0;
}

.content-grid #article-date span {
	color: $color-darkgrey;
	font-size: 1rem;
}

.content-grid #article-date span i {
	margin-right: 0.25rem;
}

.content-grid #article-author {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-shrink: 1;
	margin-bottom: 1.5rem;
	padding-right: 1rem;
}

.content-grid #article-author a {
	border-bottom: 1px solid transparent;
	text-decoration: none;
	color: inherit;
}

.content-grid #article-author a:hover,
.content-grid #article-author a:active {
	border-bottom: 1px dotted $color-lightblack;
}

.content-grid #article-author-photo {
	width: 4rem;
	height: 4rem;
	margin-right: 1rem;
	flex-shrink: 0;
}

.content-grid #article-author-photo img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.content-grid #article-author-text {
	display: flex;
	flex-direction: column;
}

.content-grid #article-author-text-name {
	font-weight: bold;
	padding: 0.4rem 0;
}

.content-grid #article-author-text-about {
	color: $color-darkgrey;
	font-size: 1.0rem;
	display: inline;
}

.content-grid #article-image {
	width: 100%;
	margin: 0;
	padding: 1.5rem 0;
}

.content-grid #article-image img {
	width: 100%;
}

.content-grid #article-image figcaption {
	margin-top: 1rem;
	font-style: italic;
	font-size: 1rem;
	color: $color-darkgrey;
}

.content-grid #article-footer {
}

.short-separator-container {
	display: block;
	padding: 2rem 0;
}

.short-separator-line {
	width: 10rem;
	max-width: 100%;
	height: $rule-line-thickness;
	display: block;
	background-color: $rule-line-color;
}

.content-grid #article-footer h2 {
	padding-top: 0;
}

.content-grid #social-icons {
	padding: 0;
	padding-top: 1rem;
	padding-bottom: 0.5rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.content-grid #social-icons a {
	text-decoration: none;
	border: none !important;
	display: inline-block;
	width: 4rem;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
}

.content-grid #social-icons a:hover,
.content-grid #social-icons a:active {
	opacity: 0.9;
	border: none !important;
}

.content-grid #social-icons img {
	width: 100%;
}

.content-grid #article-content blockquote {
	padding: 0.5rem 0 0.5rem 1rem;
	margin-left: 0rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border-left: $rule-line-thickness solid $rule-line-color;
	font-style: italic;
}

.article-message-banner {
	width: 100%;
	background-color: $color-brandgreen;
	color: $color-white;
	font-weight: bold;
	text-align: center;
	padding: 1rem;
	margin-bottom: 1.5rem;
}


// Articles list

.articles-list-container {
	padding-top: 1.5rem;
}

.content-grid #articles-list {
	display: grid;
	grid-auto-rows: 1fr;
	grid-row-gap: 2rem;
}

.content-grid .articles-list-entry {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.content-grid .articles-list-entry-thumb {
	display: block;
	width: 8rem;
	flex-shrink: 0;
	flex-grow: 0;
	margin-right: 1rem;
	background-image: url('../assets/img/placeholder/blog_image.jpg');
	background-size: cover;
	background-color: $color-lightgrey;
	background-position: 50% 50%;
}

.content-grid .articles-list-entry h2 {
	padding-top: 0;
}

.content-grid .articles-list-entry-info {
	display: flex;
	flex-direction: column;
	flex-shrink: 1;
}

.content-grid .articles-list-entry-info p {
	color: $color-lightblack;
	padding-top: 0;
	flex-grow: 1;
}

.content-grid .articles-list-entry-info a {
	color: inherit;
	text-decoration: none;
}

.content-grid .articles-list-entry-info a:hover,
.content-grid .articles-list-entry-info a:active {
	color: $color-darkgrey;
}

.content-grid .articles-list-entry-actions {
	color: $color-darkgrey;
	font-size: 1rem;
	padding-top: 0.25rem;
}

.content-grid .articles-list-entry-actions span {
}

.content-grid .articles-list-entry-actions ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.content-grid .articles-list-entry-actions ul li {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.content-grid .articles-list-entry-actions ul li:not(:last-child) {
	padding-right: 1rem;
}

.content-grid .articles-list-entry-actions ul li time {
	padding-left: 0.25rem;
}

.content-grid .articles-list-entry-actions a {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
	border-bottom: 1px solid transparent;
}

.content-grid .articles-list-entry-actions a:hover,
.content-grid .articles-list-entry-actions a:active {
	color: $color-lightblack;
	border-bottom: 1px dotted $color-lightblack;
}


// Blog post editor

.post-input {
	display: flex;
	flex-direction: column;
	padding-bottom: 1rem;
}

.post-input-row {
	display: flex;
	flex-direction: row;
}

.post-input-row .post-input {
	padding-bottom: 0;
}

.post-input-row .post-input-grow {
	flex-grow: 1;
}

.content-grid #post-editor input[type="file"] {
	margin-top: auto;
	margin-bottom: auto;
}

.content-grid #post-editor input {
	width: 100%;
}

.content-grid #post-editor label {
	padding: 0.5rem 0;
	font-size: 1rem;
}

.section-label {
	padding: 0.5rem 0 !important;
	font-size: 1.1rem !important;
}

.info-page-content {}

.info-page-content-banner {
	width: 100%;
}

.info-page-content img {
	margin: 0.75rem 0;
}

.info-page-content ul li img {
	margin: 0.8rem 0 0.25rem 0 !important;
}

.info-page-content .content-grid-title:not(:first-child) {
	margin-top: 0.5rem;
}

.info-page-content ul,
.info-page-content ol, {
	margin: 0;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.info-page-content ul li,
.info-page-content ol li {
	padding: 0.35rem 0;
}

.info-page-content a {
	text-decoration: none;
	color: inherit;
	border-bottom: 1px solid transparent;
	font-weight: bold;
}

.info-page-content a:hover,
.info-page-content a:active {
	color: $color-lightblack;
	border-bottom: 1px dotted $color-lightblack;
}

.content-grid-flex-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 1rem;
}

.content-grid-flex-row div {
	width: 31%;
}

.content-grid-flex-row div img {
	width: 100%;
}

.content-grid-flex-row div:not(:first-child) {
}

.content-grid-flex-row h2 {
	font-size: 1.6rem;
	padding-top: 1.2rem;
	padding-bottom: 0;
}

.content-grid-flex-row p {
}

.list-img {
	margin-top: 0.5rem;
	display: block;
}

.service-page-split {
	display: flex;
	flex-direction: row;
}

.service-page-split-text {
	flex-grow: 1;
}

.service-page-split-img {
	width: 40rem;
	padding-left: 1.5rem;
}

.service-page-split-img img {
	width: 100%;
}

.info-page-content-multi {}

.info-page-content-multi-main {
	width: 100%;
}

.info-page-content-multi-main img {
	width: 100%;
	margin-bottom: 0.15rem;
}

.info-page-content-multi-thumbs {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.info-page-content-multi-thumbs div {
	width: 32%;
}

.info-page-content-multi-thumbs img {
	width: 100%;
}

.info-page-split {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
}

.info-page-info {
	flex-grow: 1;
}

.info-page-img {
	width: 40rem;
	max-width: 100%;
	padding-left: 1rem;
	text-align: right;
}

.info-page-img iframe {
	width: 100%;
	height: 21rem;
}

.trustee-split {
	display: flex;
	flex-direction: row;
}

.trustee-split p {
	flex-grow: 1;
	padding-left: 2rem;
	padding-top: 2rem;
}

.external-form-iframe {
	width: 100%;
	height: 1850px;
	padding-top: 2rem;
}


// Downloads page

.downloads-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
	grid-auto-rows: 1fr;
	padding-top: 2rem;
  	//justify-items: center;
  	max-width: 900px;
}

.downloads-grid-item {
	display: block;
}

.downloads-grid-item img {
	display: block;
	border: 2px solid $color-lightblack;
}

.downloads-grid-item a {
	display: inline-block;
	text-decoration: none;
	outline: none;
	border: none;
	transition: all 0.15s ease 0s;
}

.downloads-grid-item a:hover,
.downlaods-grid-item a:active {
	opacity: 0.75;
	border: none;
}

.downloads-grid-item span {
	display: block;
}

.downloads-gallery-grid {
	grid-auto-rows: unset;
	max-width: none;
}

.downloads-gallery-column {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.downloads-gallery-item {
	width: 100%;
	padding-bottom: 0.5rem;
}

.downloads-gallery-item img {
	width: 100%;
}

// Log in pages

.login-form {
	max-width: 400px;
	padding-top: 0.5rem;
}

.login-password-reset {
	padding-left: 0.5rem;
}

// Links page

.links-page-heading {
	padding-top: 1.2rem;
}

.links-page-text {
	display: block;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}


// CMS pagination

.content-grid .pagination {
	list-style-type: none;
	width: 100%;
	padding: 1rem 0rem 0rem 0rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.content-grid .pagination li {
	display: inline-block;
	padding: 0 0.2rem;
}

.content-grid .pagination li a {
	text-decoration: none;
}


// Modals/pop-ups

.modal-container {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: opacity 0.1s ease-in;
	visibility: hidden;
	opacity: 0.0;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	z-index: 2;
}

.modal-message {
	max-width: 700px;
	padding: 2rem;
	margin: 2rem;
	background-color: $color-white;
	display: block;
	box-shadow: 0px 0px 67px -8px rgba(0,0,0,0.5);
}

.modal-message h1 {
	font-size: 1.4rem;
	padding-top: 0;
}

.modal-message p {
	padding: 0.5rem 0;
}

.modal-message-buttons {
	margin: auto;
	padding: 1rem 2rem 0 2rem;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.modal-message-buttons button {
	flex-grow: 1;
	margin: 0 0.5rem;
}

// Campaigns

.campaign-donation-section {
	display: block;
	width: 100%;
	padding: 1.5rem;
	background-color: $color-lightgrey;
}

.campaign-donation-meter {
	display: block;
	height: 2rem;
	width: 100%;
	background-color: $color-white;
	border: 2px solid $color-brandgreen;
	overflow: hidden;
	border-radius: 45px;
}

.campaign-donation-meter-progress {
	display: block;
	height: 100%;
	width: 0%;
	background-color: $color-brandgreen;
}

.campaign-donation-meter,
.campaign-donation-meter-progress {
}

.campaign-donation-section h2 {
	padding-top: 1rem;
	padding-bottom: 1.5rem;
}


// Media queries


@media only screen and (max-width: 1199px) {
	.content-grid #sidebar h1 {
		font-size: 1.7rem;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1080px) {
	.sidebar-actions a,
	.sidebar-actions button
	.sidebar-actions input[type="submit"],
	.sidebar-actions input[type="button"] {
		width: 100%;
	}
}

@media only screen and (max-width: 991px) {
	.content-grid {
		grid-template-columns: 1fr;
	}

	.content-grid #main {
		margin-bottom: 0rem;
	}

	.info-page-split div {
		width: 100%;
	}

	.info-page-img {
		padding: 0;
	}

	.downloads-page-aside {
		display: none;
	}
}

@media only screen and (min-width: 768px) {
	.post-input-padding-left {
		padding-left: 0.5rem;
	}

	.post-input-padding-right {
		padding-right: 0.5rem;
	}
}

@media only screen and (max-width: 767px) {
	.content-grid #sidebar h1 {
		font-size: 1.4rem;
	}

	.content-grid #social-icons a {
		width: 3.5rem;
	}
	
	.post-input-row {
		flex-wrap: wrap;
	}
	
	.post-input-row .post-input {
		width: 100%;
	}

	.downloads-grid {
		grid-row-gap: 1rem;
	}
}

@media only screen and (max-width: 576px) {
	.sidebar-actions a,
	.sidebar-actions button
	.sidebar-actions input[type="submit"],
	.sidebar-actions input[type="button"] {
		width: 100%;
	}

	.content-grid-flex-row {
		flex-wrap: wrap;
	}

	.content-grid-flex-row div {
		width: 100%;
		text-align: center;
	}

	.content-grid-flex-row div:not(:first-child) {
		padding-top: 1.5rem;
	}

	.content-grid-flex-row div img {
		width: 50%;
	}

	.trustee-split {
		flex-wrap: wrap;
	}

	.trustee-split img {
		margin: auto;
		margin-top: 1rem;
	}

	.trustee-split p {
		width: 100%;
		padding: 0;
	}

	.downloads-grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (max-width: 480px) {
	.content-grid .article-title {
		text-align: center;
	}

	.content-grid #article-author {
		text-align: center;
		padding-right: 0;
		flex-wrap: wrap;
	}

	.content-grid #article-author-photo {
		margin: auto;
		margin-bottom: 0.4rem;
	}

	.content-grid #article-author-text {
		width: 100%;
	}

	.content-grid #article-date {
		width: 100%;
		text-align: center;
	}

	.content-grid #social-icons a {
		width: 3rem;
	}

	.content-grid #articles-list {
		grid-auto-rows: auto;
		padding-bottom: 1rem;
	}

	.content-grid .articles-list-entry {
		flex-wrap: wrap;
	}

	.content-grid .articles-list-entry-thumb {
		width: 100%;
		height: 10rem;
		margin: 0;
		margin-bottom: 1rem;
	}

	.modal-message-buttons {
		padding-right: 0;
		padding-left: 0;
	}

	.modal-message-buttons button {
		margin: 0.4rem 0.5rem;
		width: 100%;
	}

	.downloads-grid {
		grid-row-gap: 1rem;
		grid-column-gap: 0rem;
		grid-template-columns: 1fr;
	}

	.downloads-grid-item {
		padding-bottom: 0;
	}

	.downloads-gallery-grid {
		grid-row-gap: 0;
		grid-column-gap: 0;
	}

	.downloads-gallery-column {
		padding: 0;
	}
}
