// Import master
@import "_master.scss";

// Begin styles

.profile-header {
	text-align: center;
}

.profile-header-photo {
	border-radius: 50%;
	height: 8rem;
}

.profile-header h3 {
	padding-top: 0.5rem;
	font-weight: normal;
	color: $color-darkgrey;
}
