.profile-header {
  text-align: center;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row; }

.profile-header-photo {
  border-radius: 50%;
  height: 8rem; }

.profile-header-info {
  padding-left: 1rem;
  display: flex;
  flex-direction: column; }

.profile-header h3 {
  padding-top: 0.25rem;
  font-weight: normal;
  color: #4E3D42; }
